<table  border="1">
  <thead>
      <tr>
          <th>id</th>
          <th>taskId</th>
          <th>developerId</th>
          <th>assignedBy</th>
          <th>assignedAt</th>
          <th>status</th>
  </thead>
  <tbody>
     <ng-container>
      <tr *ngFor="let datass of taskallot">
          <td>{{datass.id}}</td>
          <td>{{datass.taskId}}</td>
          <td>{{datass.developerid}}</td>
          <td>{{datass.assignedby}}</td>
          <td>{{datass.assignedat}}</td>
          <td>{{datass.status}}</td>
      </tr>
     </ng-container>
  </tbody>
</table>
